*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lab(95.92% 0.15 1.67);
    line-height: 1.6;
    padding: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: oklab(76.301% 0.05814 0.1501);
    line-height: 0.95;
    padding: 20px;
    border-radius: 10px;
}
hr {
    display:nome;
}
select#tipo{
    font-family: Arial, Helvetica, sans-serif;
    background-color: oklab(76.301% 0.05814 0.1501);
    line-height: 1.6;
    padding: 20px;
    margin-bottom: 10px;
}


header {
    background-color: #e69601;
    color:hsl(231, 89%, 48%);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
header h1{
    font-size: 1,5rem;
    font-weight: normal;
}
footer{
    text-align: center;
    padding: 20px;
    color:rgb(14, 13, 13);
    font-size: 0,875rem;
    margin-top: 30px;
}
body{
    display: flex; 
    flex-wrap: wrap;
    gap:20px;
}
header, footer{
    width:100%;
}
aside{
    flex:1;
    min-width: 200p;
    background-color: rgb(182, 123, 47);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
    height: fit-content;
}
aside h3{
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #da8313;
}
aside ul{
    list-style: nome;
}
aside li{
    margin-bottom: 10px;
    color: #110a0a;
    font-size: 0.95
}
aside a{
    text-decoration: nome;
    color:#e7820e;
    font-size: 0.95rem;
}
aside a:hover{
    text-decoration: underline;
}

main{
    flex: 3;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section{
    background-color: #e7820e;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid hsl(0, 33%, 4%)
}
section h2{
    font-size: 1.25rem;
    margin-bottom: 20px;
    color:black;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}
form label{
    font-weight: 600;
    font-size: 0.875;
    color: #050404;
}

input[text],input[date],input[number],select{
    text-align: center;
}

select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: 0.95rem;
}
input:focus, select:focus{
    outline: nome;
    border-color:blue;
}
button{
    padding: 10px 20px;
    border: nome;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
}
button[type="submit"]{
    background-color: #e7820e;
    color: #ffffff;
}

button[type="reset"]:hover{
    background-color: #e7820e;
    color: #ffffff;
}
    button[type="reset"]{
    background-color: #e7820e;
    color: #ffffff;
}
    button[type="submit"]:hover{
    background-color: #e7820e;
    color: #ffffff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9rem;
}